/*=========OVERORDNET BLOG=Christina=========*/
*{
    box-sizing: border-box;
}

.rowch{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.columnch{
    flex: 100%;
    max-width: 100%;
    padding: 0 10px;
}
.blogallech{
    margin-top: 20px;
    vertical-align: middle;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 5px 10px 0 #888;
}

.udenomaltch{
    max-width: 1500px;
    margin: auto;
}

.knapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.columnch img{
    width: 100%;
}


@media (min-width: 600px){
    .columnch{
        flex: 50%;
        max-width: 50%;
    }
}

@media (min-width: 1100px){
    .columnch{
        flex: 25%;
        max-width: 25%;
    }
}
/*=========OVERORDNET BLOG SLUT=Christina=========*/