body {
  background-color: #cbf3ff;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 36pt;
}

h2 {
  padding-top: 0;
  padding-left: 15px;
}

.white {
background-color: #1fff36
}

.nav-wrapper {
  padding: 0 70px; }

.brand-logo img {
  height: 50px; }

.slides {
  padding: 0 50px 50px 50px; }

.ugensSlide h2 {
  text-align: center;
  text-transform: uppercase; }

.liste3 {
  background-color: #ffffff; }

.posts {
  display: flex;
  flex-direction: column; }

.posts div {
  padding: 20px; }

.blog {
  padding: 20px 50px;

  background-color: #ffffff; }

.fullSlider a {
  text-decoration: none;
  color: white; }

.ugensFilm {
  background-image: url("../images/ugensFilm.jpg");
  background-size: cover;
  background-position: center center; }

.udvalgtBlogindlaeg {
  background-image: url("../images/blogPost.jpg");
  background-size: cover;
  background-position: center center; }

.udvalgtListe {
  background-image: url("../images/maeYouCry.jpg");
  background-size: cover;
  background-position: center center; }

.tekstSlide {
  padding: 50px; }

.overskrift {
  text-align: center; }

.filmen {
  display: flex;
  flex-direction: column; }

.filmen img {
  grid-row: 2/3;
  grid-column: 1/13;
  margin: 0 auto;
  height: 500px; }

.filmen h2 {
  grid-row: 1/2;
  grid-column: 1/13;
  text-align: center; }

.filmen div {
  grid-row: 3/4;
  grid-column: 1/13; }

.tekstTilBilleder {
  grid-column: 2/12;
  grid-row: 2/3;
  padding: 50px;
  max-width: 800px;
  margin: auto; }



#womanpic{
   height: 200px;
  width: auto;
  }


h3 a {
  color: black;
}



/*Anne har kodet dette------------*/



#1{
  background-color: #e1f5fe;
}

#overskriftAnne{

  margin: 20px;
}

#womanpic{
   height: auto;
  width: 100%;
    padding: 20px 20px 70px 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 #888;
  }

  #infoboks{

    background-color: #FFFFFF;
    padding: 30px;
    margin: 20px;
      box-shadow: 0 5px 10px 0 #888;
  }

#text{
  background-color: #FFFFFF;
  padding: 30px;
  margin: 20px;
    box-shadow: 0 5px 10px 0 #888;
}

#postboks{
  background-color: #FFFFFF;
}


.billederiblog{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@media screen and (min-width: 860px) {

  .posts {
    flex-direction: row;
  }

}

@media screen and (min-width: 644px) {

  .filmen {
    flex-direction: row;
  }
}




@media screen and (min-width: 768px) {

  #womanpic{
    width: 100%;
    height: auto;
  }

  #infoboks{

    background-color: #FFFFFF;
    width: 50%;
    margin-left: 100px;
  }

  #text{
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;

  }



  h4{
    font-size: 30pt;
  }



}

@media screen and (min-width: 1024px) {


}

@media screen and (min-width: 1200px) {

  #overskriftAnne{

    margin-left: 200px;
  }

  #womanpic{
    height: auto;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #infoboks{

    background-color: #FFFFFF;
    width: 50%;
    margin-left: 200px;
  }

  #text{
    background-color: #FFFFFF;
    padding: 50px 100px 100px 100px;
    margin-left: 200px;
    margin-right: 200px;

  }







}

@media screen and (min-width: 1500px) {

    #infoboks{
        font-size: 20pt;
        background-color: #FFFFFF;
        width: 35%;
        margin-left: 200px;
    }
}






